version: '3.8'
services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app:cached
      - static_volume:/app/staticfiles
      - ./db.sqlite3:/app/db.sqlite3
    environment:
      - DEBUG=1
      - SECRET_KEY=replace-me

volumes:
  static_volume:
